img#gif1, img#gif2{
    height: 100%;
    /*min-width: 1024px;*/
}
a:link {    color: #64ffda; }
a:visited { color: #fff; }
a:hover {   color: #00bfa5; }
a:active {  color: #00695c; }

div#target{
    height: 100vh;
    display: inline-block;
    background-size: cover;
    overflow:hidden;
}
div#img{
display: block;
text-align: center;
margin: auto;
}
img#triangle.triangle{
    padding-top: 50px;
    text-align: center;
    margin: auto;
    width: 40%;

}
/**/
/* mix.HTML  */
/**/
h4{
    font-weight: bold;
}
h4, a, a#logo.brand-logo{
    font-family: 'Megrim', cursive;
}
a.band-link{
  font-family:sans-serif;
}
body#mix-body{
    background: -webkit-linear-gradient(to left, #000000 , #434343);
    background: linear-gradient(to left, #000000 , #434343);
}
div.mix.row.blue-grey.darken-3{
    margin: 0;
    background: -webkit-linear-gradient(to left, #6f6f6f, #434343 );
    background: linear-gradient(to left, #6f6f6f, #434343 );
    padding-right: 10px;
    height: 60px;
    line-height: 30px;
}
span#current-mix.blue-grey-text{
    font-size: 2rem;
}
span.grey-text{
  font-size: 2.5rem;
}
/**/
/* END index.HTML Columns Flexboxx */
/**/
div.container{
margin-top: 20px;
}
div.col.s4{
padding-top: 10px;
}
a.btn-floating.btn.waves-effect.waves-light.white-text.teal.lighten-1{
    font-size: 1rem;
    /*border: #ECEFF1 .25px solid;*/
    /*background: -webkit-linear-gradient(to left, #000000 , #6f6f6f);
    background: linear-gradient(to left, #000000 , #6f6f6f);*/
}

/**/
/* index.HTML */
/**/
body#index-body{
    background: -webkit-linear-gradient(to left, #000000 , #434343);
    background: linear-gradient(to left, #000000 , #434343);
}
/* index.HTML Columns Flexbox */
div.aligner {
  height: 100vh;
  max-height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.aligner-item {
  max-width: 100%;
}
.aligner-item--top {
  align-self: flex-start;
}
.aligner-item--bottom {
  align-self: flex-end;
}
/* END index.HTML Columns Flexbox */

/* index.HTML Card / Height */
div.card.center{
    width: 200px;
    margin-left: 10px;
    /*height: 50%;*/
}
div.col.s12.m4.aligner{
    height: 100%;
/*width: 50%*/
}
div.col.s12.m4{
padding:10px;
/*height: 50vh;*/
}
div.card-content.center{
    width: 100%;
}
/**/
/* NAVIGATION */
/**/
div.navbar-fixed{
  height: 45px;
}
div.nav-wrapper{
    border-bottom: 2px #26a69a solid;
}
div.nav-wrapper, nav.grey.darken-4{
    height: 45px;
    line-height: 45px;
}
a#logo{
    margin-left: 20px;
}
/**/
/* END NAVIGATION */
/**/
/**/
/*sticky footer*/
/**/
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
  }
 /**/
/* END sticky footer */
/**/
/**/
/* *** PLAYLIST PAGE *** */
/**/

/* Main Playlist*/
#canvas {
    /*background: #000000; /* fallback for old browsers*/
    background: -webkit-linear-gradient(to left, #000000 , #434343);
    background: linear-gradient(to left, #000000 , #434343);
    position: fixed; /* or absolute */
    z-index: -1;     /* put it behind all other elements */
    }
main#playlist-main{
    /*background: #cccccc;*/

}
div#playlist-container{
    margin-top: 20px;
}
/*div.col.s12.m4{
  column-count: 3;
  column-width: 33%;
}*/
div.cards-container {
  column-break-inside: avoid;
  .card {
    display: inline-block;
    overflow: visible;
        }
  }
div.card{
    background: -webkit-linear-gradient(to left, #000000 , #434343);
    background: linear-gradient(to left, #000000 , #434343);
    border-radius: 6px;
}
a.btn.waves-effect.waves.grey.darken-4{
    background: -webkit-linear-gradient(to left, #00695c , #4db6ac);
    background: linear-gradient(to left, #00695c , #4db6ac);
}
strong{
    margin-top: 5px;
}
h1 {
    text-shadow:
    1px 0px 1px #ccc, 0px 1px 1px #eee,
    2px 1px 1px #ccc, 1px 2px 1px #eee,
    3px 2px 1px #ccc, 2px 3px 1px #eee,
    4px 3px 1px #ccc, 3px 4px 1px #eee,
    5px 4px 1px #ccc, 4px 5px 1px #eee,
    6px 5px 1px #ccc, 5px 6px 1px #eee,
    7px 6px 1px #ccc;
}
/* Main EMAIL list*/
main#email-main{
    /*background: #cccccc;*/
    background: #000000; /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #000000 , #434343);
    background: linear-gradient(to left, #000000 , #434343);
}
p.email-info{
    color: #1de9b6;
    padding-top: 50px;
    font-size: 1.25rem;
    text-transform: uppercase;
    text-align: center;
}
button.btn.waves-effect.waves-light{
    top: 20px;
    margin: auto;
    clear: both;
    display: block;
    text-transform: uppercase;
    text-align: center;
}
